body {
    font-family: 'Imprima', sans serif;
    font-size: 20px;
    font-weight: 400;
}

body p{
    font-family: 'Imprima', sans serif;
    font-size: 20px;
    font-weight: 400;
}

#header {
    margin: 30px auto;
}

#header h1 {
    font-family: 'Slackey', cursive;
    font-size: 38px;
    margin-top: 30px;
}

#header img {
    width: 90px;
    float: left;
    margin-right: 10px;
}

#vereador img {
    border: solid 1px #333;
    margin: 30px;
}

#vereador h2 {
    margin: 30px;
}

#termos {}

#termos p {}

#top3 li {}

#campeao p {
    text-align: center;
}

#filtros {}

#filtros p {}

#filtros li {}

#footer {}
