body {
    font-family: 'Imprima', sans serif !important;
    font-size: 20px;
    font-weight: 400;
}

body p{
    font-family: 'Imprima', sans serif;
    font-size: 20px;
    font-weight: 400;
}

.container {
    margin: 0 auto;
}

#header {
    margin-top: 30px;
}

#header h1 {
    font-family: 'Slackey', cursive;
    font-size: 38px;
    margin-top: 30px;
    color: #000000;
}

#header p {
    color: #666666;
}

#header img {
    width: 90px;
    float: left;
    margin-right: 10px;
}

#header a:hover {
    text-decoration: none;
    }

#main {
    display:none;
    }
    
#vereador {
    margin-top: 30px;
}

#vereador img {
    border: solid 3px #000;
    width: 70px;
    float: left;
    margin-right: 20px;
}

#vereador h2 {
    margin-top: 42px;
    font-size: 30px;
}

#legislaturas {
    margin-top: 30px;    
    font-size: 15px;
    color: #000;
}

#legislaturas ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#legislaturas li {
    padding: 3px;
}

#termos {
    margin-top: 50px;
}

#termos p {
    font-size: 20px;
    margin-bottom: 20px;
}

#top3 li {
    line-height: 1.5em;
}

#campeao {
    text-align: center;
    margin-top: 20px;
    display:none;
}

#campeao p {
    margin-top: 10px;
}

#filtros {
    margin-top: 10px;
    margin-bottom: 30px;
}

#filtros ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-right: -30px;
}

#footer {
    background-color: #888877;
    border-top: 1px solid #888877;
    border-radius: 10px;
    color: #fff;
    border-bottom: -1000px;
}

#footer p{
    font-size: 16px;
    margin: 10px;
}

#footer {}

#footer a {
    color: #FFDD00;
}

#footer img {
    margin-top: 30px;
    margin-left: 150px;
    width: 120px;
}

.demo {
    height: 200px;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 140px;
}

.demo label {
    font-size: 20px;
    font-family: 'Imprima', sans serif;
    margin-bottom: 15px;
}

.demo button {
    vertical-align: baseline !important;
    font-family: 'Imprima', sans serif;
    font-size: 20px;
}

.soft {
    opacity: 0.2;
    }


